@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

/* 'PT Serif', serif
#2C5F2D, #92C350, #ffffff, #000000, #F2F9F0 */

:root {
  --Thin: 100;
  --ExtraLight: 200;
  --Light: 300;
  --Regular: 400;
  --Medium: 500;
  --SemiBlod: 600;
  --Bold: 700;
  --ExtraBold: 800;
  --Black: 900;
  --primary-color: #2c5f2d;
  --secondary-color: #92c350;
  --pure-white: #ffffff;
  --black-text: #000000;
  --bg: #f2f9f0;
  --heading: "PT Serif", serif;
  --body: "PT Serif", serif;
  --font-family: "PT Serif", serif;
}

/* --------------Typography------------------- */
@media (min-width: 1024px) {
  h1 {
    /* font-family: var(--heading); */
    font-size: 50px !important;
    /* line-height: 60px; */
    font-weight: var(--Regular);
  }

  h2 {
    /* font-family: var(--heading); */
    font-family: 42px !important;
    /* line-height: 38px; */
    font-weight: var(--Regular);
  }

  h3 {
    /* font-family: var(--heading); */
    font-size: 38px !important;
    /* line-height: 34px; */
    font-weight: var(--Regular);
  }

  h4 {
    /* font-family: var(--heading); */
    font-size: 32px !important;
    /* line-height: 28px; */
    font-weight: var(--Regular);
  }

  h5 {
    /* font-family: var(--heading); */
    font-size: 25px !important;
    /* line-height: 26px; */
    font-weight: var(--Regular);
  }

  h6 {
    /* font-family: var(--heading); */
    font-size: 20px !important;
    /* line-height: 26px; */
    font-weight: var(--Regular);
  }
}

form button {
  /* font-family: var(--body) !important; */
  font-weight: var(--Medium) !important;
  background-color: var(--primary-color) !important;
  color: var(--pure-white);
  border: 1px solid var(--primary-color) !important;
  border-radius: 5px !important;
  padding: 8px 40px !important;
  text-transform: uppercase !important;
}

form button:hover {
  /* font-family: var(--body); */
  font-weight: var(--Medium);
  color: var(--primary-color) !important;
  background-color: transparent !important;
  border: 1px solid var(--primary-color) !important;
}

button>a {
  background-color: var(--primary-color) !important;
  color: var(--pure-white) !important;
  background-color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  border-radius: 5px;
  padding: 8px 20px !important;
}

button {
  border: 0px !important;
  background-color: transparent !important;
  text-transform: uppercase !important;
  /* font-family: var(--body); */
  font-weight: var(--Medium);
  border-radius: 5px !important;
}

button:hover {
  border: 0px !important;
}

button>a:hover {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

p {
  /* font-family: var(--body); */
  font-weight: var(--Regular);
  font-size: 16px;
  line-height: 26px;
  color: var(--black-text);
}

input,
textarea {
  /* font-family: var(--body); */
  border: 1px solid #707070 !important;
  color: var(--black-text);
  font-size: 18px !important;
  font-weight: var(--Regular) !important;
  border-radius: 12px !important;
}

input:focus-visible {
  outline-color: var(--primary-color) !important;
  box-shadow: none !important;
}

input[type=checkbox] {
  border: 1px solid black;
  border-radius: 2px !important;
  box-shadow: none !important;
}

a {
  /* font-family: var(--body); */
  font-weight: var(--Regular);
  font-size: 16px;
  color: var(--black-text) !important;
  text-decoration: none;
}

/* ------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: var(--body) !important;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0px;
  transition: 0.3s all ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(44, 95, 45, .8);
  border-radius: 0px;
  transition: 0.3s all ease-in-out;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(44, 95, 45, 1);
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.container-mid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1400px) {
  .container-mid {
    max-width: 1440px !important;
  }
}

.body-text {
  font-size: 26px !important;
  line-height: 34px !important;
}

@media(max-width: 767px) {
  .body-text {
    font-size: 20px !important;
    line-height: 28px !important;
  }
}

.button-secondary-link {
  background-color: var(--secondary-color) !important;
  color: var(--pure-white) !important;
  background-color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  border-radius: 5px;
}

.button-secondary {
  border: 0px !important;
  background-color: transparent !important;
}

.button-secondary:hover {
  border: 0px !important;
  color: var(--secondary-color) !important;
}

.button-secondary-link:hover {
  background-color: transparent !important;
  color: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
}

/* -------------------------------------signup Loginpage--------------------------------- */
.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-col h5 {
  font-weight: var(--Regular) !important;
}

.form-col form {
  width: 350px !important;
}

@media (max-width:480px) {
  .form-col form {
    width: 100% !important;
  }
}

.form-col form input[type=checkbox] {
  min-width: auto !important;
}

.form-col form input[type=checkbox] {
  min-width: auto !important;
}

@media (max-width: 992px) {
  .img-col {
    display: none;
  }

  .login-col {
    background: url('/images/Assets/flower\ shop.jpg'), rgba(255, 255, 255, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    background-blend-mode: overlay;
  }

  .signup-col {
    background: url('/images/Assets/female-teacher-showing-okay-gesture-explaining-ma-2022-12-16-08-30-20-utc.jpg'), rgba(255, 255, 255, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    background-blend-mode: overlay;
  }
}

/* --------------------------navbar-------------------------- */
.navbar-brand {
  font-size: 24px !important;
}

#navbar .menu li {
  margin: 0 20px;
}

#navbar ul {
  margin-bottom: 0;
}
@media (max-width: 767px){
  #navbar ul.menu .nav-item{
    margin: 18px 0;

  }
}

#navbar li a {
  font-weight: var(--Medium) !important;
  text-transform: capitalize;
  font-size: 18px !important;
}

#navbar li a:hover {
  color: var(--primary-color) !important;
}

#navbar .btns li .btn {
  margin-left: 50px;
  background-color: var(--primary-color);
  color: var(--pure-white) !important;
  padding: 6px 16px !important;
  border: 1px solid var(--primary-color);
}

#navbar .btns li .btn:hover {
  background-color: transparent;
  color: var(--primary-color) !important;
}

#navbar .btns {
  list-style-type: none;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.navbar-toggler {
  background-color: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
}

.navbar-toggler span {
  color: var(--primary-color) !important;
}

@media(max-width: 991px) {

  #navbar .btns,
  #navbar .menu {
    margin-top: 40px !important;
  }
}

/* -----------------------------------------Footer---------------------------- */
.footer {
  padding: 40px 0;
  background-color: rgba(146, 195, 80, 0.5);
}

.footer h1,
.footer h2 {
  font-weight: var(--Bold) !important;
  text-align: center;
  color: var(--primary-color);
}

/* ---------------------homepage------------------------- */
.home-hero {
  margin-top: 80px;
  padding-top: 80px;
}

.home-hero .bg-text {
  padding: 40px 0;
}

.home-hero .bg-text:before {
  content: "";
  width: 100%;
  height: 150%;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

@media(max-width: 1024px) {
  .home-hero .bg-text:before {
    height: 100% !important;
  }
}

.howItWorks {
  margin: 120px 0;
  padding: 100px 0;
}

@media(max-width: 992px) {
  .howItWorks {
    margin: 80px 0;
    padding: 0;
  }
}
@media (max-width: 1440px){
  .howItWorks {
    padding: 0;
  }
}

.howItWorks .icon-box {
  padding: 5px;
}

.howItWorks .icon-box ._img img {
  width: 180px !important;
}

.howItWorks .icon-box .content h5 {
  border-bottom: 2px solid var(--secondary-color);
  margin: 30px 0 14px 0;
}

.headingTxt {
  background-color: var(--bg);

}

.Learning {
  margin: 120px 0;
  padding: 40px 0;
  position: relative;

}

@media(max-width: 992px) {
  .Learning {
    margin: 80px 0;
  }
}

.Learning::before {
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 8px -8px 0px 0px var(--secondary-color);
}

@media (max-width: 767px) {
  .Learning::before {
    width: 100% !important;
  }

  .Learning .row {
    flex-direction: column-reverse;
  }
}

.onlineClasses {
  background: var(--secondary-color);
  border-radius: 37px;
  padding: 30px 20px;
}

@media (max-width: 1024px) {
  .onlineClasses {
    padding: 20px 10px;
  }
}

.businessClasses {
  margin: 120px 0;
  padding: 40px 0;
  position: relative;
}

@media(max-width: 992px) {
  .businessClasses {
    margin: 80px 0;
  }
}

.businessClasses::before {
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: -8px -8px 0px 0px var(--secondary-color);
}

@media (max-width: 767px) {
  .businessClasses::before {
    width: 100% !important;
  }
}

.equation-digram h1 {
  color: var(--primary-color);
}

.equation-box>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.equation-box ._equation-item {
  background-color: var(--primary-color);
  padding: 20px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.last-box {
  background-color: var(--primary-color);
  border-radius: 200px;
  padding: 20px;
}

.equation-box .eq-item {
  background-color: var(--secondary-color);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100% !important;
}

.equation-box .eq-item h5>small {
  font-size: 14px !important;
}

@media (max-width: 1200px) {
  .equation-box ._equation-item {
    width: 230px;
    height: 230px;
  }

  .equation-box .eq-item h5 {
    font-size: 20px !important;
  }

  .equation-box .operators {
    font-size: 42px !important;
    color: var(--pure-white);
    line-height: 28px;
  }
}

.equation-box::before {
  content: "";
  width: 90%;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  z-index: -1;
}

@media(max-width: 991px) {
  .equation-box::before {
    transform: rotate(90deg);
    content: "";
    width: 80px;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    z-index: -1;
  }
}

.equation-box .eq-item ul {
  list-style-type: none;
  text-align: center;
  color: var(--primary-color);
  font-size: 20px;
  padding: 0;
}

.equation-box .operators {
  font-size: 60px;
  color: var(--pure-white);
  line-height: 28px;
}

.equation-box>:last-child h5 {
  position: absolute;
  color: var(--primary-color);
  text-align: center;
  top: 107%;
}

.success {
  margin: 140px 0;
  padding: 40px 0;
  background-color: var(--bg);
}

@media(max-width: 992px) {
  .success {
    margin: 80px 0;
  }
}

.success h2 {
  font-weight: var(--Bold) !important;
}

.success ul {
  list-style-type: none;
  font-size: 24px;
}

.success ul li {
  position: relative;
}

.success ul li:before {
  content: "";
  background: url('images/Assets/instagram-check-mark.svg');
  width: 15px;
  height: 15px;
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
}

/* ***************************Feature Page*************************** */
.features-hero {
  margin-top: 80px;
}

.features-success h2 {
  font-weight: var(--Bold) !important;
}

.features-hero .row {
  background: url('/images/Assets/english\ teacher-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.features-hero .row>:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 20px;
  display: grid;
  place-content: center;

}

.features-success {
  margin: 120px 0;
}

@media(max-width: 992px) {
  .features-success {
    margin: 80px 0;
  }
}

@media(max-width: 767px) {
  .features-success .row {
    flex-direction: column-reverse;
  }
}

.create-school h2 {
  font-weight: var(--Bold) !important;
}

.features-cards {
  margin: 120px 0;
}

@media(max-width:1024px) {
  .features-cards {
    margin: 80px 0;
  }
}

.features-cards .card-item {
  background: var(--bg);
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.features-cards .card-item h5 {
  border-bottom: 2px solid var(--secondary-color);
  margin-bottom: 20px;
}

.features-cards .card-item p {
  font-size: 20px;
  line-height: 28px;
}

.feature-insertQuote {
  margin: 120px 0;
  padding: 40px 0;
  position: relative;
}

@media(max-width: 992px) {
  .feature-insertQuote {
    margin: 80px 0;
  }
}

.feature-insertQuote::before {
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 8px -8px 0px 0px var(--secondary-color);
}

@media (max-width: 767px) {
  .feature-insertQuote::before {
    width: 100% !important;
  }
}

.features-customize h2 {
  font-weight: var(--Bold);
}

.features-support {
  margin: 120px 0;
  padding: 40px 0;
}

@media(max-width: 992px) {
  .features-support {
    margin: 80px 0;
  }
}

.features-support h2 {
  font-weight: var(--Bold);
}

.features-support:before {
  content: "";
  width: 65%;
  height: 100%;
  background-color: var(--bg);
  border-radius: 0 2rem 2rem 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

@media(max-width: 767px) {
  .features-support:before {
    width: 100%;
  }

  .features-support .row {
    flex-direction: column-reverse;
  }
}

.features-support .row h5 {
  transform: translateY(24px);
}

.features-support .row img {
  border-radius: 2rem;
}

.features-learning {
  padding: 40px;
}

.features-learning::before {
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: -8px -8px 0px 0px var(--secondary-color);
}

@media (max-width: 767px) {
  .features-learning::before {
    width: 100% !important;
  }

  .features-learning .row {
    flex-direction: column-reverse;
  }
}

.features-GrowBussiness {
  margin: 120px 0;
}

@media (max-width: 992px) {
  .features-GrowBussiness {
    margin: 80px 0;
  }
}

.features-GrowBussiness h3 {
  font-weight: var(--Bold);
}

.features-Manage {
  margin-bottom: 120px;
}

@media(max-width: 767px) {
  .features-Manage .row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 992px) {
  .features-Manage {
    margin-bottom: 80px;
  }
}

.features-Manage h3 {
  font-weight: var(--Bold);
}

/* **************************pricing page*************************** */

.pricing-hero {
  margin-top: 90px;
  padding: 40px 0;
  position: relative;
}

.pricing-hero::before {
  content: "";
  width: 55%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 8px -8px 0px 0px var(--secondary-color);
}

@media (max-width: 767px) {
  .pricing-hero::before {
    width: 100% !important;
  }

  .pricing-hero .row {
    flex-direction: column-reverse;
  }
}

.pricing-plans {
  margin: 120px 0;
}

@media (max-width: 992px) {
  .pricing-plans {
    margin: 80px 0;
  }
}

.pricing-plans h3 {
  color: var(--primary-color);
}
@media (max-width: 992px){
  .pricing-plans h3 {
    text-align: center;
  }
}
.pricing-plans .switch>div {
  background-color: var(--bg);
  border-radius: 1rem;
}

.pricing-plans .switch span {
  font-size: 20px !important;
}

.pricing-plans .form-switch {
  margin: 0 20px;
}

.pricing-plans .form-switch input {
  border-radius: 1rem !important;
  width: 50px !important;
  height: 28px !important;
  padding: 0 !important;
  border-color: var(--primary-color) !important;
}

.pricing-plans .form-switch .form-check-input:checked {
  background-color: var(--primary-color);
}

.pricing-plans .switch .active {
  color: var(--primary-color) !important;
  font-weight: var(--Bold);
}

/* ---------plans-card-container---------- */
.plans-card-container {
  margin-top: 30px;
}

.plans-card-container .plan-item {
  background-color: var(--bg);
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  height: 100%;
}

.plans-card-container .plan-item .plan_title {
  color: black !important;
  text-align: center;
}

.plans-card-container .plan-item .plan_disc {
  color: black !important;
  text-align: center;
  font-size: 18px;
  font-weight: var(--Bold);
  margin: 50px 0 40px 0;
}

.plans-card-container .plan-item .plan_features {
  list-style-type: none;
  font-size: 18px;
  font-weight: var(--Regular);
  margin-top: 40px;
}

.plans-card-container .plan-item .plan_features li {
  position: relative;
}

.plans-card-container .plan-item .plan_features li:before {
  content: "";
  background: url('/images/Assets/instagram-check-mark.svg');
  width: 15px;
  height: 15px;
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
}

@media (max-width: 1199px) {
  .plans-card-container .row>div {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .plans-card-container .plan-item {
    padding: 30px 20px;
  }
}

.plans-card-container .plan-item.premium .plan_title {
  line-height: 32px !important;
}

.plans-card-container .plan-item.premium .plan_title>span {
  color: black !important;
  text-align: center;
  font-size: 24px !important;
  font-weight: var(--Bold);
  line-height: 24px !important;
}

.plans-card-container .plan-item.premium .plan_title>span>small {
  font-size: 18px;
  font-weight: var(--Regular) !important;
}

.plans-card-container {
  overflow: hidden;
  position: relative;
}

.plans-card-container .Month {
  display: none;

}

.plans-card-container .Year {
  display: block;
}

.features-features h3 {
  color: var(--primary-color);
}

.features-features .table-cont {
  background-color: var(--bg);
  border-radius: 20px;
}

.features-features table thead>tr>th {
  font-size: 24px;
  font-weight: var(--Regular) !important;
  border-bottom: 2px solid black;
  text-align: center;
  color: var(--black-text) !important;
}

.features-features table thead>tr>:first-child {
  border-bottom: 0px !important;
}

.features-features table tbody>tr>th {
  font-size: 18px;
  font-weight: var(--Regular) !important;
  color: var(--black-text) !important;
}

.features-features table tbody>tr>td {
  font-size: 18px;
  text-align: center;
}

@media(max-width: 767px) {
  .features-features table tbody>tr>th {
    font-size: 16px;
  }

  .features-features table thead>tr>th {
    font-size: 18px;
  }
}

.exist {
  position: relative;
}

.exist::before {
  content: "";
  background: url('/images/Assets/checkmark.svg');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

}

.not-exist {
  position: relative;
}

.not-exist::before {
  content: "";
  background: url('/images/Assets/X.svg');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

}

.features-review {
  margin-top: 120px;
  padding-bottom: 60px;
  position: relative;
}

@media (max-width: 992px) {
  .features-review {
    margin-top: 80px;
  }
}

.features-review::before {
  content: "";
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
}

@media(max-width: 767px) {
  .features-review::before {
    height: 80%;
  }
}

/* *****************************About page ******************* */
.about-hero {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .about-hero .row {
    flex-direction: column-reverse;
  }
}

.about-headingTxt {
  background-color: var(--primary-color);
  margin: 120px 0;
}

@media (max-width: 992px) {
  .about-headingTxt {
    margin: 80px 0;
  }
}
.about-support{
  padding: 40px 0;
}
@media (max-width: 1400px){
  .about-support{
    padding: 0;
  }
}
.about-support .row {
  background-color: var(--bg);
  padding: 10px 0 !important;
}
.about-customize {
  margin: 120px 0;
  padding: 80px 0;
}

@media (max-width: 1400px) {
  .about-customize {
   padding: 0;
  }
}
@media (max-width: 992px) {
  .about-customize {
    margin: 80px 0;
  }
}

@media (max-width: 767px) {
  .about-customize .row {
    flex-direction: column-reverse;
  }
}

/* *******************Blog page****************************** */
.about-customize {
  margin-top: 80px;
}

@media (max-width: 992px) {
  .about-customize {
    margin: 80px 0;
  }
}

@media (max-width: 767px) {
  .about-customize .row {
    flex-direction: column-reverse;
  }
}

.blog-headingTxt {
  background-color: var(--primary-color);
  margin: 120px 0;
}

.blog-review {
  margin-top: 120px;
  padding-bottom: 60px;
  position: relative;
}

@media (max-width: 992px) {
  .blog-review {
    margin-top: 80px;
  }
}

.blog-review::before {
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  z-index: -1;
}

@media(max-width: 767px) {
  .blog-review::before {
    height: 80%;
  }
}

.articles .single-item {
  height: 100%;
  display: grid;
}

.articles .single-item h5 {
  margin: 20px 0 60px 0;
}

.articles .single-item .meta {
  margin-top: auto;
}

.articles .single-item .meta .author_img {
  width: 40px !important;
  height: 40px !important;
}

.articles .single-item .meta .author_img>img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.articles .single-item .meta .author_content {
  margin-left: 20px;
}

.articles .single-item .meta .author_content h6 {
  margin-bottom: 0 !important;
}

/* -------------------- */
body{
  font-family: var(--font-family)!important;
}