{{>frontHeader}}

<body>
    <!-- ---------------------navbar--------------------------- -->
    {{>frontNav}}

    <!-- -----------------page content------------------------------- -->

    <section class="about-customize">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h3 class="h3 text-black">Access our Free Educational Training Articles </h3>
                    <p class="body-text mb-4">Looking to start your own class? Our free training articles will teach
                        you all that you need to know to successfully run your online school. </p>
                    <button><a href="/packages">Get Started</a></button>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4 mb-md-0">
                    <img src="images/Assets/teacher-working-online-on-laptop-2021-12-09-20-02-49-utc.png" alt=""
                        class="w-100 rounded-5">
                </div>
            </div>
        </div>
    </section>

    <section class="blog-headingTxt py-5">
        <div class="container">
            <h1 class="text-center h1 text-white">Free Articles</h1>
        </div>
    </section>

    <section class="articles">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 my-5 px-0 px-md-3 px-lg-4">
                    <article class="single-item">
                        <img src="images/Assets/education-or-business-office-workspace-concept-moc-2022-11-11-07-07-49-utc.jpg"
                            alt="" class="w-100">
                        <h5 class="h5  text-black">How to Organize Your Course</h5>
                        <div class="meta d-flex">
                            <div class="author_img"><img
                                    src="images/Assets/happy-male-student-online-teacher-wear-headphone-t-2022-08-23-15-27-14-utc.jpg"
                                    alt="" class="w-100"></div>
                            <div class="author_content">
                                <h6 class="h6  text-black"><b>Helen Nu</b></h6>
                                <p>December 30, 2022</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 my-5 px-0 px-md-3 px-lg-4">
                    <article class="single-item">
                        <img src="images/Assets/woman-working-on-a-laptop-2022-02-02-04-51-27-utc.jpg" alt="" class="w-100">
                        <h5 class="h5  text-black">How to Advertise Yourself</h5>
                        <div class="meta d-flex">
                            <div class="author_img"><img
                                    src="images/Assets/happy-male-student-online-teacher-wear-headphone-t-2022-08-23-15-27-14-utc-.jpg"
                                    alt="" class="w-100"></div>
                            <div class="author_content">
                                <h6 class="h6 text-black"><b>Nathan Zamari</b></h6>
                                <p>January 16, 2023 </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 my-5 px-0 px-md-3 px-lg-4">
                    <article class="single-item">
                        <img src="images/Assets/teacher-on-screen-in-online-lesson-2022-03-02-12-01-12-utc-.png" alt=""
                            class="w-100">
                        <h5 class="h5 text-black">How to Empower Your Students</h5>
                        <div class="meta d-flex">
                            <div class="author_img"><img
                                    src="images/Assets/happy-male-student-online-teacher-wear-headphone-t-2022-08-23-15-27-14-utc-1.jpg"
                                    alt="" class="w-100"></div>
                            <div class="author_content">
                                <h6 class="h6 text-black"><b>Julia Lumeno</b></h6>
                                <p>January 20, 2023 </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-review">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <img src="images/Assets/young-brunette-teacher-writing-having-online-class-2022-11-16-20-27-58-utc.png"
                        alt="" class="w-100 rounded-5">
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h3 class="mt-4 text-center text-white">“I set up my first course in less than two hours and
                        made more than $180,000 in less than 8 months using this platform. Hostaclass made it easier
                        than ever to get paid for my knowledge” - Sarah Abrams</h3>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="footer px-3">
            <h1 class="h1 text-center">Sign Up For Our Newsletters</h1>
            <div class="d-flex justify-content-center pt-5"><button><a href="/packages">Get Started</a></button></div>
        </div>
    </section>
    <!-- ----------------------scripts------------------------- -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" crossorigin="anonymous"></script>
    <script src="./JS/script.js"></script>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>