{{>frontHeader}}

<body>
    <!-- ---------------------navbar--------------------------- -->
    {{>frontNav}}

    <!-- -----------------page content------------------------------- -->
    <section class="pricing-hero">
        <div class="container-mid">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 col-lg-6 .col-xl-6 .col-xxl-6 d-flex align-items-center flex-column">
                    <h3 class="h3 text-white text-center">Build Your Online Class Today</h3>
                    <p class="text-center text-white body-text">Start your new business journey today with us at no cost
                        to you</p>
                    <button class="button-secondary mt-4"><a href="/packages" class="button-secondary-link">Get
                            Started</a></button>

                </div>
                <div class="col-12 col-md-6 col-lg-6 .col-xl-6 .col-xxl-6 mb-4 mb-md-0">
                    <img src="images/Assets/video-call-online-education-and-child-with-teache-2022-12-29-04-27-15-utc.jpg"
                        alt="video-call-online-education-and-child-with-teacher" class="w-100 rounded-5">
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-plans">
        <div class="container-mid">
            <h3 class="h3">Plans & Pricing</h3>
            <div class="switch d-flex justify-content-center">
                <div class="d-flex justify-content-between align-items-center px-4 py-2">
                    <span>Monthly</span>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                            checked>
                    </div>
                    <span class="active">Annually</span>
                </div>
            </div>
            <div class="plans-card-container">
                <div class="Month">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                            <div class="plan-item">
                                <h3 class="plan_title">Free<br><b>$ 0</b></h3>

                                <div class="plan_disc">Review our world- class features for yourself </div>
                                <button><a href="#">Start Free Version</a></button>
                                <ul class="plan_features">
                                    <li><b>No Fee’s on Sales:</b> 0%</li>
                                    <li><b>Admin Users:</b> 1</li>
                                    <li><b>Courses:</b> 1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                            <div class="plan-item">
                                <h3 class="plan_title">Basic<br><b>$ 29</b></h3>

                                <div class="plan_disc">Per Month<br>
                                    (Billed $348 Annually)</div>
                                <button><a href="#">Select Basic</a></button>
                                <ul class="plan_features">
                                    <li><b>Fee’s on Sales:</b> 0%</li>
                                    <li><b>Admin Users:</b> 2</li>
                                    <li><b>Courses:</b> 10</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                            <div class="plan-item">
                                <h3 class="plan_title">Pro<br><b>$ 99</b></h3>

                                <div class="plan_disc">Per Month <br>
                                    (Billed $1,188 Annually)</div>
                                <button><a href="#">Select Pro</a></button>
                                <ul class="plan_features">
                                    <li><b>Fee’s on Sales:</b> 0%</li>
                                    <li><b>Admin Users:</b> 2</li>
                                    <li><b>Courses:</b> Unlimited</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                            <div class="plan-item premium">
                                <h3 class="plan_title">Premium<br><span>Contact sales<br><small>(888)
                                            888-8888</small></span></h3>

                                <div class="plan_disc">Work with our team to build your dream class</div>
                                <button><a href="#">Get Premium</a></button>
                                <ul class="plan_features">
                                    <li><b>Fee’s on Sales:</b> 0%</li>
                                    <li><b>Admin Users:</b> 2</li>
                                    <li><b>Courses:</b>Unlimited</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Year">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                            <div class="plan-item">
                                <h3 class="plan_title">Free<br><b>$ 0</b></h3>

                                <div class="plan_disc">Review our world- class features for yourself </div>
                                <button><a href="#">Start Free Version</a></button>
                                <ul class="plan_features">
                                    <li><b>No Fee’s on Sales:</b> 0%</li>
                                    <li><b>Admin Users:</b> 1</li>
                                    <li><b>Courses:</b> 1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                            <div class="plan-item">
                                <h3 class="plan_title">Basic<br><b>$ 129</b></h3>

                                <div class="plan_disc">Per Year<br>
                                    (Billed $24 Monthly)</div>
                                <button><a href="#">Select Basic</a></button>
                                <ul class="plan_features">
                                    <li><b>Fee’s on Sales:</b> 0%</li>
                                    <li><b>Admin Users:</b> 2</li>
                                    <li><b>Courses:</b> 10</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                            <div class="plan-item">
                                <h3 class="plan_title">Pro<br><b>$ 199</b></h3>

                                <div class="plan_disc">Per Year <br>
                                    (Billed $88 Monthly)</div>
                                <button><a href="#">Select Pro</a></button>
                                <ul class="plan_features">
                                    <li><b>Fee’s on Sales:</b> 0%</li>
                                    <li><b>Admin Users:</b> 2</li>
                                    <li><b>Courses:</b> Unlimited</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                            <div class="plan-item premium">
                                <h3 class="plan_title">Premium<br><span>Contact sales<br><small>(888)
                                            888-8888</small></span></h3>

                                <div class="plan_disc">Work with our team to build your dream class</div>
                                <button><a href="#">Get Premium</a></button>
                                <ul class="plan_features">
                                    <li><b>Fee’s on Sales:</b> 0%</li>
                                    <li><b>Admin Users:</b> 2</li>
                                    <li><b>Courses:</b>Unlimited</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-features">
        <div class="container-mid">
            <h3>Features</h3>
            <div class="table-responsive table-cont p-0 p-md-2 p-lg-3 p-xl-4 p-xxl-5">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Free</th>
                            <th scope="col">Basic</th>
                            <th scope="col">Pro</th>
                            <th scope="col">Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Teaching Management System </th>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Live Class</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Custom Domain</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Site Integration</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>API Integration </th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Advanced Theme Customization</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="features-features my-5">
        <div class="container-mid">
            <h3>Support</h3>
            <div class="table-responsive table-cont p-0 p-md-2 p-lg-3 p-xl-4 p-xxl-5">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Free</th>
                            <th scope="col">Basic</th>
                            <th scope="col">Pro</th>
                            <th scope="col">Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Email</th>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Community Forum</th>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Live Chat with Agent </th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Phone Support</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Customer Representation</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>weekly Group Call</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Migration</th>
                            <td><small style="font-size: 12px;">Self-Service</small></td>
                            <td><small style="font-size: 12px;">Self-Service</small></td>
                            <td><span class="exist"></span></td>
                            <td><small style="font-size: 12px;">Priority</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="features-features">
        <div class="container-mid">
            <h3>Marketing Tools</h3>
            <div class="table-responsive table-cont p-0 p-md-2 p-lg-3 p-xl-4 p-xxl-5">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Free</th>
                            <th scope="col">Basic</th>
                            <th scope="col">Pro</th>
                            <th scope="col">Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Refferal Marketing</th>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Email Marketing</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Seo Ready</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Affiliate Marketing</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>List Creation</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Tripwires</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not- exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="features-features mt-5">
        <div class="container-mid">
            <h3>Sales & Payment</h3>
            <div class="table-responsive table-cont p-0 p-md-2 p-lg-3 p-xl-4 p-xxl-5">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Free</th>
                            <th scope="col">Basic</th>
                            <th scope="col">Pro</th>
                            <th scope="col">Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Refferal Marketing</th>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Eamil Marketing</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>SEO Ready</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Affiliate Marketing</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>List Creation</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                        <tr>
                            <th>Typewires</th>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="not-exist"></span></td>
                            <td><span class="exist"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="features-review">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <img src="images/Assets/florist.jpg" alt="Florist" class="w-100 rounded-5">
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                </div>
            </div>
            <h3 class="mt-4 text-center text-white">“I set up my first course in less than two hours and made more than
                $180,000 in
                less than 8
                months using
                this platform. Hostaclass made it easier than ever to get paid for my knowledge” - Sarah Abrams</h3>
        </div>
    </section>
    <section>
        <div class="footer px-3">
            <h1 class="h1 text-center">Our Platform, Your Success</h1>
            <div class="d-flex justify-content-center pt-5"><button><a href="/packages">Get Started</a></button></div>
        </div>
    </section>
    <!-- ----------------------scripts------------------------- -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" crossorigin="anonymous"></script>
    <script src="js/frontpages/script.js"></script>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>